= form.association :sender_bank_account, label_method: :human
= form.association :recipient_bank_account, label_method: :human
= form.input :amount
= form.input :transaction_at
= form.input :value_at
= form.input :purpose
