= form.input :accountable, as: :polymorphic_association, classes: instance_exec(&Bgit::Accounting::Configuration.accountable_classes), label_method: :human
= form.input :owner
= form.input :name
= form.input :iban
= form.input :active_from, as: :date_time_picker
= form.input :active_to, as: :date_time_picker
