= table.email :email
= table.field :login
= table.field :single_access_token
= table.boolean :active
= table.boolean :approved
= table.boolean :confirmed
= table.timestamp :created_at
= table.timestamp :updated_at