= turbo_frame_tag(params[:turbo_frame] || dom_class(Bgit::FrontendAuth::User)) do
  .row
    .col-12
      %h1= @resource.email

  .row
    .col-12
      = resource_table(resource: @resource) do |t|
        = render 'show_table', table: t

.row
  .col-12
    = render 'show_actions', resource: @resource
