= form.input :parent_id, collection: resource_class.all, include_blank: true
= form.input :name
= form.input :number
= form.input :target, collection: resource_class.targets.keys
= form.input :is_result